<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

{% include_relative style.html %}

   <link rel="stylesheet" href="{{ site.url }}/reveal.js-3.3.0/css/reveal.css">
   <link rel="stylesheet" href="{{ site.url }}/reveal.js-3.3.0/css/theme/black.css">


<!-- Theme used for syntax highlighting of code -->
<link rel="stylesheet" href="{{ site.url }}/reveal.js-3.3.0/lib/css/zenburn.css">

<!-- Printing and PDF exports -->
<script>
  var link = document.createElement( 'link' );
  link.rel = 'stylesheet';
  link.type = 'text/css';
  link.href = window.location.search.match( /print-pdf/gi ) ? '{{ site.url }}/reveal.js-3.3.0/css/print/pdf.css' : '{{ site.url }}/reveal.js-3.3.0/css/print/paper.css';
  document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>

{% seo %}
<title>{% if slide.title %}{{ slide.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="theme-color" content="#fed535">
<meta name="description" content="{% if slide.description %}{{ slide.description }}{% else %}{{ site.description }}{% endif %}">
{% if slide.tags %}<meta name="keywords" content="{{ slide.tags | join: ', ' }}">{% endif %}
<!-- Twitter Cards -->
{% if slide.feature %}{% capture feature %}{{ slide.feature }}{% endcapture %}{% unless feature contains 'http://' or feature contains 'https://' %}{% capture feature %}{{ site.url }}/{{ feature }}{% endcapture %}{% endunless %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ feature }}">
{% else %}<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ site.url }}/{{ site.logo }}">{% endif %}
<meta name="twitter:title" content="{% if slide.title %}{{ slide.title }}{% else %}{{ site.title }}{% endif %}">
{% if slide.excerpt %}<meta name="twitter:description" content="{{ slide.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">{% endif %}
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if slide.title %}{{ slide.title }}{% else %}{{ site.title }}{% endif %}">
{% if slide.excerpt %}<meta property="og:description" content="{{ slide.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
<meta property="og:url" content="{{ slide.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ site.url }}/{{ site.logo }}">
{% if site.google.verify %}
<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ site.google.verify }}">{% endif %}
{% if site.bing-verify %}    <meta name="msvalidate.01" content="{{ site.bing-verify }}">{% endif %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ slide.url }}{% else %}{{ slide.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
<!-- Handheld -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<!-- JS -->
<script src="{{ site.url }}/assets/js/modernizr-3.3.1.custom.min.js"></script>
<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ site.url }}/assets/img/favicons/apple-icon-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/img/favicons/apple-icon-144x144.png">
<link rel="shortcut icon" type="image/png" href="{{ site.url }}/favicon.png" />
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
